.section3 {
    margin-top: 120px;
}
.section3 h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 36px;
letter-spacing: -0.1px;
color: #0D0A19;
margin-bottom: 50px;
}
.section3 h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #0D0A19; 
    margin-top: 10px; 
}

.section3 p {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.1px;
color: #9A9EA7;
}
.card {
    border: none !important;
}

.section3 p {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.1px;
color: #9A9EA7;
}
.btn-1 {
    background: #EDE8E9;
    border-radius: 8px !important;
    font-family: 'Inter';
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-align: center !important;
    letter-spacing: -0.1px !important;
    
    color: #7963f0;
      
    
}
.btn-2 {
    background: #f5f6f7 !important;
    border-radius: 8px !important;
    font-family: 'Inter';
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    text-align: center !important;
    letter-spacing: -0.1px !important;
    
    color: #9a9ea7 !important;
    
}

